<div *ngIf="!employs" >
  <div class="col-6 col-lg-6 offset-lg-3">
    <table class="table table-bordered border-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Experience</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let employ of employs">
            <td>{{employ.id}}</td>
            <td>{{employ.name}}</td>
            <td>{{employ.experience}}</td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="toUpdate(employ.id)">Update</button>
              <button type="button" class="btn btn-danger" (click)="toDelete(employ.id)">Delete</button>
            </div></td>
          </tr>
        </tbody>
        <tbody></tbody>
    </table>
</div>
<input type="button" value=" add" routerLink="update" >
</div>
<div *ngIf="employs"> 
  <app-emp-upd  parentdata="employs"></app-emp-upd>

</div>